/*
=====================
GOOGLE FONTS
=====================
*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Lobster&family=Oswald&display=swap");

/*
=====================
VARIABLES
=====================
*/

:root {
  /* fonts */
  --ff-primary-1: "Lobster", cursive;
  --ff-primary-2: "Bebas Neue", cursive;
  --ff-primary-3: "Josefin Sans", sans-serif;
  /* shades of brown */
  --clr-brown-1: #f2d6b3;
  --clr-brown-2: #d9a76a;
  --clr-brown-3: #40322b;
  --clr-brown-4: #2a211c;
  --clr-brown-5: #2b2724;
  /* shades of red */
  --clr-red-1: #d9483b;
  --clr-red-2: #a62929;
  /* main transition */
  --transition: all 0.3s ease-in-out;
  /* max width */
  --max-width: 1500px;
}

/*
=====================
GLOBAL STYLES
=====================
*/

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 58px;
}

body {
  background: #222;
  user-select: none;
  box-sizing: border-box;
}

@media screen and (min-width: 280px) {
  /*
  ==========
  NAVBAR
  ========== 
  */

  .navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background: var(--clr-brown-5);
    z-index: 9999;
  }

  .navbar-brand {
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: 1px;
    text-decoration: underline goldenrod;
    font-family: var(--ff-primary-1);
    transition: var(--transition);
  }

  .brand-span {
    color: var(--clr-red-1);
  }

  .navbar-brand:hover {
    color: var(--clr-brown-1);
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-link:link {
    font-family: var(--ff-primary-2);
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: var(--clr-brown-1);
    padding: 0.75rem 1.25rem;
    transition: var(--transition);
  }

  .nav-link:visited {
    color: var(--clr-brown-1);
  }

  .nav-link:hover {
    transform: translateX(10px);
    color: var(--clr-red-2);
    background: var(--clr-brown-1);
  }

  .media-icon-container {
    padding: 1rem;
    display: flex;
  }

  .media-icon {
    text-decoration: none;
    font-size: 2rem;
    color: var(--clr-brown-1);
    transition: var(--transition);
  }

  .fa-twitter-square {
    padding-left: 0.5rem;
  }

  .media-icon:visited {
    color: var(--clr-brown-1);
  }

  .media-icon:hover {
    color: var(--clr-red-2);
  }

  .fa-bars {
    color: var(--clr-brown-1);
    font-size: 1.5rem;
    transition: var(--transition);
  }

  .fa-bars:hover {
    color: var(--clr-red-2);
  }

  /*
  ==========
  BANNER 
  ========== 
  */

  #banner-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .banner {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("./hero.jpg") center/cover no-repeat;
  }

  .banner-title {
    font-family: var(--ff-primary-1);
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: whitesmoke;
  }

  .banner-title span {
    color: var(--clr-red-1);
  }

  .banner-span {
    color: goldenrod;
    letter-spacing: 3px;
    padding-top: 0.5rem;
    font-family: var(--ff-primary-3);
  }

  .category-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0.25rem;
    padding: 0.25rem;
    height: max-content;
    position: absolute;
    align-self: flex-end;
  }

  .category-btn {
    background: bisque;
    color: black;
    font-family: var(--ff-primary-2);
    font-size: 1.25rem;
    transition: var(--transition);
    text-align: center;
    padding: 0.25rem;
  }

  .category-btn:hover {
    background: var(--clr-red-1);
    color: bisque;
  }

  .banner-bg {
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: whitesmoke;
    text-decoration: underline goldenrod;
  }

  .active-btn {
    background: var(--clr-red-1);
    color: black;
    transform: translateY(-0.15rem);
    transition: var(--transition);
  }

  /*
  ==========
  MENU ITEM CONTAINER
  ========== 
  */

  #menu-container {
    width: 100%;
    height: fit-content;
    margin: 2rem 0;
    padding: 1rem;
  }

  .slider-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    max-width: var(--max-width);
  }

  .slider {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    background: bisque;
  }

  .slider-header {
    height: 200px;
    width: 100%;
  }

  .slider-footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.5rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }

  .slider-img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 25px;
  }

  .slider-name,
  .slider-price {
    text-align: center;
    font-family: var(--ff-primary-2);
    letter-spacing: 2.5px;
    text-decoration: underline;
  }

  .slider-price {
    font-size: 1.25rem;
  }

  .slider-description,
  .slider-ingredients {
    font-size: 1.15rem;
    text-align: center;
    font-family: var(--ff-primary-3);
    text-transform: lowercase;
  }

  .slider-description {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110px;
  }

  .slider-ingredients {
    background-color: #222;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    color: whitesmoke;
    min-height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
  }

  .slider:hover .slider-ingredients {
    background: bisque;
    color: black;
  }

  .star-container {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    animation: color 4s ease-in-out infinite;
  }

  @keyframes color {
    0% {
      text-shadow: 2px 2px 1px purple;
      color: #fc3;
    }
    50% {
      text-shadow: 2px 2px 0px plum;
      color: orangered;
    }
    100% {
      text-shadow: 2px 2px 1px purple;
      color: #fc3;
    }
  }

  .favourite,
  .unfavourite {
    float: right;
    padding: 0.75rem;
  }

  .menu-animation {
    animation: show ease 1s;
  }

  @keyframes show {
    from {
      clip-path: circle(0% at 50% 0%);
    }
    to {
      clip-path: circle(100% at 50% 50%);
    }
  }

  /*
  ==========
  IMPRESSZUM 
  ========== 
  */

  #impresszum-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background: #333;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    font-family: var(--ff-primary-2);
    letter-spacing: 2px;
    user-select: text;
    border-top: solid 3px whitesmoke;
  }

  .footer-contacts,
  .credit-cards,
  .footer-aszf-container {
    margin: 1.5rem 0;
  }

  .footer-title {
    color: var(--clr-red-1);
  }

  .footer-opening-hours p,
  .footer-contact-info p {
    font-size: 1.25rem;
  }

  .footer-icon {
    display: inline;
  }

  .footer-aszf-item {
    list-style: none;
    transform: translateX(-15px);
    line-height: 40px;
  }

  .footer-aszf-link {
    color: whitesmoke;
    text-decoration: none;
    transition: var(--transition);
  }

  .footer-aszf-link:hover {
    color: #fc3;
  }

  /*
  ==========
  CREATOR 
  ========== 
  */

  #creator-container {
    width: 100%;
    background: black;
    font-family: var(--ff-primary-2);
    font-size: 0.75rem;
    color: whitesmoke;
    letter-spacing: 4px;
    padding: 3rem;
    text-align: center;
    border-top: solid 3px whitesmoke;
  }

  .heart {
    color: hotpink;
  }

  .creator {
    font-size: 1rem;
    color: #fc3;
  }

  #date {
    font-size: 1rem;
  }

  /*
  ==========
  HOME BUTTON 
  ========== 
  */

  .home-btn {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    color: goldenrod;
    font-size: 1.25rem;
    animation: bounce 2s ease-in-out infinite;
  }

  .show-home-btn {
    display: flex;
    transition: var(--transition);
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .home-btn:hover {
    color: var(--clr-red-2);
  }
}

@media screen and (min-width: 480px) {
  .slider-header {
    height: 300px;
  }

  .footer-aszf-link {
    font-size: 1.25rem;
  }

  #creator-container {
    font-size: 1.25rem;
  }

  .creator,
  #date {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .home-btn {
    font-size: 1.75rem;
  }

  .category-btn {
    width: 125px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-brand {
    font-size: 1.15rem;
  }

  .nav-link:link {
    font-size: 1.25rem;
    padding: 1.15rem;
  }

  .nav-link:hover {
    transform: none;
  }

  .category-btn {
    width: 150px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1056px) {
  .navbar-brand {
    font-size: 2rem;
  }

  .banner {
    height: 100vh;
  }
}
